{
  "extends": "airbnb",
  "globals": {
    "Game": true,
    "Memory": true,
  },
  "rules": {
    "no-console": 0,
    "arrow-body-style": 0,
    "prefer-rest-params": 0,
    "no-use-before-define": 0,
    "strict": 0,
  }
}
