{
  "globals": {
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "context": true,
    "describe": true,
    "expect": true,
    "it": true,
    "test": true,
  }
}
